<header
  class="fixed left-0 top-0 z-50 w-full transition-all duration-300"
  [ngClass]="{
    'bg-white shadow-md': isScrolled,
    'bg-transparent': !isScrolled,
  }"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-shrink-0">
        <a
          href="#"
          class="text-2xl font-bold"
          [ngClass]="{
            'text-gray-800': isScrolled,
            'text-white': !isScrolled,
          }"
        >
          Église Méthodiste
        </a>
      </div>
      <nav class="hidden md:flex md:items-center md:space-x-8">
        @for (link of navLinks; track link.name) {
          <a
            [href]="link.href"
            class="font-medium transition-colors duration-300"
            [ngClass]="{
              'text-gray-600 hover:text-gray-800': isScrolled,
              'text-white hover:text-gray-200': !isScrolled,
            }"
            >{{ link.name }}</a
          >
        }
      </nav>
      <div class="md:hidden">
        <button
          (click)="toggleMenu()"
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2"
          [ngClass]="{
            'text-gray-800': isScrolled,
            'text-white': !isScrolled,
          }"
        >
          <span class="sr-only">Open main menu</span>
          <lucide-angular
            [name]="isMenuOpen ? X : Menu"
            class="h-6 w-6"
          ></lucide-angular>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="md:hidden"
    [ngClass]="{
      block: isMenuOpen,
      hidden: !isMenuOpen,
    }"
  >
    <div class="bg-white px-2 pb-3 pt-2 shadow-lg sm:px-3">
      @for (link of navLinks; track link.name) {
        <a
          [href]="link.href"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-100"
          >{{ link.name }}</a
        >
      }
    </div>
  </div>
</header>
