/* Include fonts from the fonts directory */
@font-face {
    font-family: 'Google Sans Text';
    src: url("../fonts/GoogleSansText-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url("../fonts/GoogleSansText-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url("../fonts/GoogleSansText-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url("../fonts/GoogleSansText-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url("../fonts/GoogleSansText-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url("../fonts/GoogleSansText-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}