.header__top {
    background-color: var(--body-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

.header__container {
    background-color: var(--body-background);
    /* Considering logo and padding */
    height: calc(80px + 2 * 1rem);
    padding: 1rem;
    /* Centering container */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand,
.header__nav-list {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__brand {
    user-select: none;
}

.header__nav {
    display: none;
}

.header__logo {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 40px;
}

.header__location {
    font-size: 0.75rem;
}

.header__nav-list {
    list-style-type: none;
}

.header__nav-link {
    position: relative;
    font-weight: bold;
}

.header__nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 4px;
    background-color: red;
}

.header__nav-link:hover::before {
    left: 0;
    width: 100%;
}

.header__backdrop {
    height: calc(80px + 2 * 1rem);
}

.header__hamburger:hover {
    color: blue;
}

.header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: bisque;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header__menu-control {
    width: max-content;
    align-self: flex-end;
}

.header__menu-control:hover {
    color: blue;
}

.header__menu-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header__menu-nav-item {
    font-size: x-large;
}

.header__menu-nav-link {
    position: relative;
    font-weight: bold;
}

.header__menu-nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 4px;
    background-color: red;
}

.header__menu-nav-link:hover::before {
    left: 0;
    width: 100%;
}

@media (min-width: 640px) {
    .header__container {
        width: 640px;
    }
}

@media (min-width: 768px) {
    .header__container {
        width: 768px;
    }
}

@media (min-width: 1024px) {
    .header__container {
        width: 1024px;
    }

    .header__nav {
        display: block;
    }

    .header__hamburger {
        display: none;
    }
}

@media (min-width: 1280px) {
    .header__container {
        width: 1280px;
    }
}

@media (min-width: 1536px) {
    .header__container {
        width: 1536px;
    }
}