<footer>
  <div>
    <div>
      <div>
        <h1>Église Méthodiste du Togo</h1>
        <p>Tokoin Wuiti</p>
      </div>
      <div>
        <p>123 Rue de la Foi, Tokoin Wuiti</p>
        <p>Lomé, Togo</p>
        <p><strong>Téléphone:</strong> (+228) 99 99 99 99</p>
      </div>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15867.053161337943!2d1.2135445554199273!3d6.162448000000022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1023e23d5716b2ed%3A0x424233fb7fe55fe!2sParoisse%20Methodiste%20Penuel!5e0!3m2!1sfr!2stg!4v1753481349194!5m2!1sfr!2stg"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div>
    <p>
      &copy; {{ currentYear }} Eglise Méthodiste du Togo, Paroisse Penuel. Tous
      droits réservés.
    </p>
  </div>
</footer>
