<footer class="bg-gray-800 text-white">
  <div class="container mx-auto px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 xl:grid-cols-4">
      <div class="text-center md:text-left">
        <h1 class="text-2xl font-bold">Église Méthodiste du Togo</h1>
        <p class="text-sm text-gray-400">Tokoin Wuiti, Paroisse Penuel</p>
        <div class="mt-4 flex space-x-4">
          @for (social of socials; track social.name) {
            <a [href]="social.href" class="text-gray-400 hover:text-white">
              <span class="sr-only">{{ social.name }}</span>
              <lucide-angular
                [name]="social.icon"
                class="h-6 w-6"
              ></lucide-angular>
            </a>
          }
        </div>
      </div>

      <div class="text-center md:text-left">
        <h2 class="text-lg font-semibold">Contactez-nous</h2>
        <ul class="mt-4 space-y-2">
          <li class="flex items-center justify-center md:justify-start">
            <lucide-angular
              [name]="MapPin"
              class="mr-2 h-5 w-5"
            ></lucide-angular>
            <span>123 Rue de la Foi, Tokoin Wuiti</span>
          </li>
          <li class="flex items-center justify-center md:justify-start">
            <lucide-angular
              [name]="Phone"
              class="mr-2 h-5 w-5"
            ></lucide-angular>
            <span>(+228) 99 99 99 99</span>
          </li>
          <li class="flex items-center justify-center md:justify-start">
            <lucide-angular [name]="Mail" class="mr-2 h-5 w-5"></lucide-angular>
            <span>contact&#64;eglisemethodistetogo.org</span>
          </li>
        </ul>
      </div>

      <div class="text-center md:text-left">
        <h2 class="text-lg font-semibold">Liens Rapides</h2>
        <ul class="mt-4 space-y-2">
          <li>
            <a href="#" class="text-gray-400 hover:text-white">Accueil</a>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-white">À Propos</a>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-white">Sermons</a>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-white">Événements</a>
          </li>
        </ul>
      </div>

      <div class="h-48 md:h-auto">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15867.053161337943!2d1.2135445554199273!3d6.162448000000022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1023e23d5716b2ed%3A0x424233fb7fe55fe!2sParoisse%20Methodiste%20Penuel!5e0!3m2!1sfr!2stg!4v1753481349194!5m2!1sfr!2stg"
          class="h-full w-full rounded-lg"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <div
      class="mt-8 border-t border-gray-700 pt-4 text-center text-sm text-gray-400"
    >
      <p>
        &copy; {{ currentYear }} Eglise Méthodiste du Togo, Paroisse Penuel.
        Tous droits réservés.
      </p>
    </div>
  </div>
</footer>
