@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@theme default {
  --font-serif: "Tinos", serif !important;
  --font-sans: "Source Sans 3", sans-serif;
}

html,
body {
  font-family: "Source Sans 3", sans-serif;
}

@layer utilities {
  .church-logo {
    @apply font-serif font-extrabold text-2xl;
  }
}
